 .u-section-1 {
  background-image: url("images/hinh-nen-powerpoint-don-gian-2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1292px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  --radius: 10px;
  height: auto;
  min-height: 50px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px 266px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 5px;
}

.u-section-1 .u-image-1 {
  width: 468px;
  height: 854px;
  margin: -17px auto 0 102px;
}

.u-section-1 .u-image-2 {
  width: 468px;
  height: 854px;
  margin: -854px 102px 0 auto;
}

.u-section-1 .u-text-2 {
  font-family: "Alfa Slab One";
  margin: -28px 144px 0 622px;
}

.u-section-1 .u-text-3 {
  font-family: "Alfa Slab One";
  margin: -56px 633px 0 165px;
}

.u-section-1 .u-text-4 {
  font-family: "Alfa Slab One";
  margin: 2px 136px 0 622px;
}

.u-section-1 .u-text-5 {
  font-family: "Alfa Slab One";
  margin: 0 136px 0 622px;
}

.u-section-1 .u-group-2 {
  width: 570px;
  --radius: 10px;
  height: auto;
  min-height: 50px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: 28px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 4px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 12px;
  border-style: solid;
  margin: 33px auto 36px;
  padding: 8px 36px;
}

.u-section-1 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 23px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: -21px;
    margin-left: 2px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -26px;
    margin-right: 68px;
    margin-left: 498px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 533px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 60px;
    margin-left: 498px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 60px;
    margin-left: 498px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 33px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-bottom: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2207px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 25px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 2px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 11px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 170px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-3 {
    width: 343px;
    margin-top: -920px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 868px;
    margin-right: 162px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 2px;
    margin-right: 170px;
    margin-left: 176px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
    margin-bottom: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2128px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -28px;
    margin-right: 78px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -905px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 856px;
    margin-right: 96px;
    margin-left: 89px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 77px;
    margin-left: 89px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1748px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 620px;
  }

  .u-section-1 .u-image-2 {
    height: 620px;
    margin-top: 23px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -23px;
    margin-right: 28px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -714px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 669px;
    margin-right: 28px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 5px;
    margin-right: 7px;
    margin-left: 38px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 1px;
    margin-bottom: -1px;
  }
}